<section class="phx-hero">
  <h2><%= gettext "Welcome to %{name}!", name: "Phoenix LiveView" %></h2>
</section>
<section class="row">
  <article class="column">
    <h4>LiveView LiveComponent Examples</h4>
    <ul>
      <li><a href="/examples">Simple LiveComponent Examples</a></li>
      <li><%= link "Modal LiveComponent Example", to: Routes.counter_path(@socket, :show) %></li>
    </ul>
  </article>
</section>
